body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    width: 210mm;
    height: 297mm;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    left: 50%;

}

.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 50px;
}

.btnsubmit{
    margin: 0;
    position: absolute;
    left: 50%;
 
}

.submit-button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.submit-button:hover {
    background-color: #4cae4c;
}